In [1]:
import pandas as pd

In [3]:
xl_file = pd.ExcelFile('Foundational-learning_2021-1.xlsx')

df = xl_file.parse('Foundational learning', header=[0, 1])
for i in range(0,7):
    df.rename({df.columns[i][1]:""}, axis="columns", inplace=True)
    
df.drop(df.index[100:], inplace=True)

In [4]:
df

         Countries and areas Region Sub-region Development regions  \

0                 Bangladesh     SA         SA     Least Developed
1                 Bangladesh     SA         SA     Least Developed
2                 Bangladesh     SA         SA     Least Developed
3                 Bangladesh     SA         SA     Least Developed
4   Central African Republic    SSA        WCA     Least Developed
..                       ...    ...        ...                 ...
95              Turkmenistan    ECA       EECA      Less Developed
96                  Zimbabwe    SSA        ESA      Less Developed
97                  Zimbabwe    SSA        ESA      Less Developed
98                  Zimbabwe    SSA        ESA      Less Developed
99                  Zimbabwe    SSA        ESA      Less Developed

      Age group   Subject      Total        Sex             Residence  \
                                          Girls       Boys      Rural
0   Age 7 to 14   Reading  48.814716  52.392544  45.074005  46.981983
1   Age 7 to 14  Numeracy  27.866051  28.959688  26.722622  26.574785
2     Grade 2/3   Reading  24.599609  26.002825  23.178070  21.751852
3     Grade 2/3  Numeracy  12.550222  12.392838  12.709662  11.408230
4   Age 7 to 14   Reading   4.693856   4.560828   4.809788   2.057838
..          ...       ...        ...        ...        ...        ...
95    Grade 2/3  Numeracy  53.200000  64.800000  58.500000        NaN
96  Age 7 to 14   Reading  44.365719  48.368660  40.518608  36.768028
97  Age 7 to 14  Numeracy  24.620714  26.782095  22.543474  19.146442
98    Grade 2/3   Reading  19.576178  21.219332  17.992134  12.351241
99    Grade 2/3  Numeracy   5.108691   4.419424   5.773163   2.455187

              Wealth quintile                                              \
        Urban         Poorest     Second     Middle     Fourth    Richest
0   55.805260       35.360210  43.906765  50.639637  54.517452  63.611889
1   32.791283       19.557022  25.148443  27.337364  31.040785  38.721001
2   35.798244       16.602999  18.201494  22.767086  28.660402  42.274563
3   17.041044        8.673656  10.437841  11.085612  12.559054  22.395241
4    9.213395        0.486284   3.040068   1.691019   4.024787  13.331376
..        ...             ...        ...        ...        ...        ...
95        NaN             NaN        NaN        NaN        NaN        NaN
96  67.629013       25.323767  34.230465  44.128292  56.616516  76.777069
97  41.382336       12.622963  21.344015  20.532696  31.470972  47.066925
98  41.673153        6.278276  10.377341  16.939035  27.667347  50.681393
99  13.224252        0.395979   2.538109   2.018403   8.800878  17.066843

     Data
   Source       Year
0   MICS6       2019
1   MICS6       2019
2   MICS6       2019
3   MICS6       2019
4   MICS6  2018-2019
..    ...        ...
95  MICS6       2019
96  MICS6       2019
97  MICS6       2019
98  MICS6       2019
99  MICS6       2019

[100 rows x 18 columns]

In [5]:
df.dtypes

Countries and areas              object
Region                           object
Sub-region                       object
Development regions              object
Age group                        object
Subject                          object
Total                           float64
Sex                  Girls      float64
                     Boys       float64
Residence            Rural      float64
                     Urban      float64
Wealth quintile      Poorest    float64
                     Second     float64
                     Middle     float64
                     Fourth     float64
                     Richest    float64
Data                 Source      object
                     Year        object
dtype: object

In [6]:
df.describe()

            Total         Sex              Residence             \
                        Girls        Boys      Rural      Urban
count  100.000000  100.000000  100.000000  94.000000  94.000000
mean    26.198632   27.131777   25.470714  22.350986  29.768563
std     21.036023   22.361859   20.346177  21.112209  21.387091
min      0.394631    0.051010    0.473044   0.022533   0.000000
25%      7.432622    7.059242    7.625648   4.550694  12.301420
50%     21.480844   21.059666   20.877780  13.027112  24.972675
75%     43.923937   45.792249   38.673675  36.599011  44.219891
max     81.800000   84.400000   82.000000  83.400000  79.000000

      Wealth quintile
              Poorest     Second     Middle     Fourth    Richest
count       94.000000  94.000000  94.000000  94.000000  94.000000
mean        17.371929  21.387640  24.266147  28.115457  37.684759
std         19.048739  20.722063  22.238528  22.135513  23.564574
min          0.000000   0.000000   0.000000   0.000000   0.000000
25%          2.479506   3.636985   4.610935   8.740612  17.095623
50%          8.001463  12.608856  16.606810  24.916075  37.256182
75%         27.821079  33.977889  42.645542  44.460066  58.154563
max         76.100000  89.800000  78.600000  79.900000  84.800000